<div class="video-wrapper">
  <video playsinline autoplay="true" muted loop>
    <source src="../assets/videos/BackgroundAuth.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <!-- This will be positioned on top of our video background -->
  <div class="container col-lg-12">
    <div class="row">
      <div class="auth">
        <div class="form-group col-12">
          <input type="name" placeholder="Логин" formControlName="login"/>
          <input type="password" placeholder="Пароль" formControlName="password"/>
        </div>
      </div>
    </div>
  </div>
</div>
